#profile-info {
  width: 65%;
  display: flex;
  flex-direction: column;
}

#profile-slug {
  height: 25%;
  grid-area: profile;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 10px;
}

#player-icon {
  display: block;
  width: 100px;
  height: 100px;
  border: 3px solid white;
}

.username {
  width: 66%;
  font-size: 60px;
  font-weight: bold;
}

.level-icon-comp {
  position: relative;
  width: 20%;
  height: 100%;
}

.level-icon {
  position: absolute;
  width: 90%;
  left: -18px;
  top: -19px;
}

#prestige {
  position: absolute;
  left: -17.5px;
  top: 47px;
}

.curr-hero-port {
  width: 34.4%;
  position: absolute;
  left: 25.5px;
  top: -10px;
  clip-path: polygon(100% 0, 100% 83%, 50% 100%, 0 83%, 0 0);
}

.logo {
  display: block;
  width: 70%;
  height: 100%;
}

#chosen-hero {
  --background-overlay: rgba(266, 266, 266, 0.6);

  box-sizing: border-box;
  height: 66%;
  background-color: rgb(226, 226, 226);
  display: grid;
  grid-template-areas:
    "hero printout"
    "medals printout";
  grid-template-columns: 66% 34%;
}

.hero {
  grid-area: hero;
  margin: 0;
  text-align: left;
  background: var(--background-overlay);
}
.hero-name {
  font-size: 40px;
  margin: 5px 0 0 20px;
}

.printout {
  box-sizing: border-box;
  grid-area: printout;
  display: grid;
  grid-template-areas:
    "time won"
    "kills deaths"
    "assists quote";
  row-gap: 5px;
  column-gap: 10px;
  padding: 5px;
  background: var(--background-overlay);
  height: 100%;
}

.printed-stat {
  position: relative;
  border: 3px solid rgb(66, 66, 66);
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  height: 70%;
}

.stat-title {
  position: absolute;
  bottom: 15%;
  left: 0;
  z-index: 1;
  font-size: 290%;
  color: rgba(87, 87, 87, 0.7);
}

.stat-stat {
  position: absolute;
  bottom: 0;
  right: 6px;
  z-index: 5;
  font-size: 30px;
}

.medals {
  grid-area: medals;
  display: flex;
  justify-content: space-around;
  background: var(--background-overlay);
}

.medal-title {
  grid-area: title;
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

.printed-medal {
  position: relative;
}

.medal-number {
  position: relative;
  font-size: 200%;
  text-align: center;
  z-index: 10;
  margin: auto;
  text-shadow: 1px 1px 1px white;
}

.medal-img {
  position: relative;
  top: 72px;
  left: 2px;
  display: inline-block;
  z-index: 1;
  width: 100px;
  margin: auto;
}

.back-link {
  font-family: "buttons";
  display: block;
  margin: 10px auto;
  width: fit-content;
  padding: 10px;
  border: 1px solid white;
  background: var(--button-yellow);
  color: white;
  text-decoration: none;
  font-weight: bold;
}
