@font-face {
  font-family: "koverwatch";
  src: url("./assets/fonts/koverwatch.ttf");
}

@font-face {
  font-family: "bignoodletoo";
  src: url("./assets/fonts/bignoodletoo.ttf");
}

@font-face {
  font-family: "overwatch";
  src: url("./assets/fonts/OPTIBankGothic-Light.otf");
}

@font-face {
  font-family: "buttons";
  src: url("https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff");
}
