#profile-window {
  font-family: "bignoodletoo";
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 30px auto;
  background: var(--menu-card);
  border: 2px solid silver;
}

#hero-list {
  position: relative;
  width: 30%;
}

#hero-tab-list {
  overflow-y: scroll;
  max-height: 500px;
  margin: 5px;
  border: 3px solid var(--button-yellow);
  border-radius: 7px;
}

#hero-tab-list::-webkit-scrollbar {
  width: 6px;
  border-radius: 0 4px 4px 0;
  background-color: #f5f5f5;
}
#hero-tab-list::-webkit-scrollbar-thumb {
  border-radius: 0 4px 4px 0;
  background-color: #000000;
}
#hero-tab-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0 4px 4px 0;
  background-color: silver;
}

.hero-tab {
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: left;
  transition: 0.3s;
  padding: 5px 10px;
  border-top: 3px solid silver;
  background: white;
}

.hero-tab:hover {
  border: 3px solid green;
  border-radius: 5px;
}

.hero-tab:hover .image-wrapper {
  transform: skew(25rad) translateX(5px) scale(1.1);
}

.hero-tab:hover .hero-text {
  transform: scale(1.2);
  margin-left: 30px;
}

#all-Heroes-tab {
  border-top: silver;
}

.selected {
  background: var(--highlight-yellow);
}

.image-wrapper {
  width: 95.5px;
  position: relative;
  border: 3px solid black;
  background-color: rgba(68, 180, 214, 0.9);
  background-clip: padding-box;
  overflow: hidden;
  border-radius: 7px;
  -webkit-transform: skew(25rad);
  transform: skew(25rad) translateX(5px);
  transition: 0.3s;
}

.hero-portrait {
  transform: skew(-25rad) translateX(-5px);
}

#all-Heroes-portrait {
  position: relative;
  left: 6px;
  top: 2px;
  width: 90px;
}

.hero-text {
  font-size: 30px;
  margin: 10px 0 0 20px;
  transition: 0.3s;
}

.error-message {
  height: 500px;
  font-family: "koverwatch", "bignoodletoo";
}

.error-message h2 {
  margin: 70px auto 0 auto;
  font-size: 60px;
  font-weight: normal;
}
