footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 10px;
}

.credit {
  width: 20%;
  height: 100%;
  text-align: center;
}

.alex-link:hover .alex {
  border: 3px solid var(--highlight-yellow);
}

.alex {
  display: block;
  margin: auto;
  width: 30%;
  border-radius: 50%;
}

.credit-link {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.credit-link:hover {
  text-decoration: solid underline;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  .credit {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 2px solid silver;
  }
}
