.App {
  min-height: 100vh;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  align-items: center;
  padding: 0;
  text-align: center;
  min-height: 70vh;
}
