#chosen-hero {
  background: rgb(226, 226, 226);
}

.banner {
  margin: 0;
  text-align: left;
}

.printout {
  display: grid;
  grid-template-areas:
    "time kills deaths assists"
    "won medals medals medals";
}

.medal-container {
  grid-area: medals;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
